/**
 * Site header
 */
ul.post-tags{
  margin: 0;
  li{
    list-style: none;
    display: inline;
    border: 1px solid lighten($brand-color, 20%);
    background: lighten($brand-color,40%);
    color:#000;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: default;
    font-family: monospace;
  }
}
.post-content{
    h2{
    font-size:$base-font-size*2;
        border-bottom: $brand-color solid 1px;
        display: inline-block;

    }
  h2,h3,h4,h5,h6{
    code {
      font-size: inherit;
    }
  }
    h3{
    font-size:$base-font-size*1.8;
    }
    h4{
    font-size:$base-font-size*1.6;
    }
    h5{
    font-size:$base-font-size*1.4;
    }
    h6{
    font-size:$base-font-size*1.2;
    }
}

table{
  border:solid $brand-color 1px;
  border-spacing: 0;
  border-collapse:collapse;
  td,th{
    border:solid $brand-color 1px;
    text-align: center;
  }
}